{% load static %}
<footer>
    <div class="col-12">
        <div class="row">
            <div class="col-8 p-5">
              <img src="{%static 'images/logo/logo.png' %}" class="brand-image" alt="logo">
            </div>

            <div class="col-4 p-5">
                <div class="container h1 text-right">
                    <i class="fab fa-facebook-f ml-2"></i>
                    <i class="fab fa-instagram ml-2"></i>
                    <i class="fab fa-twitter ml-2"></i>
                    <i class="fab fa-youtube ml-2"></i>

                </div>
             
   
              
            </div>
        </div>
    </div>
    <div class="col-12 bg-white text-center p-2"><p>&copy; 2020 MutationCode<p></div>
</footer>


 <!--- pk_2462f6f6db344a55b0a7cdc46b090cef    ->